.wrapper_footer{
    background: #000;
    padding: 10px;
}
.footer_content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_social{
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    margin: 10px auto ;

    a{
        width: 30px;
        height: 30px;
        padding: 5px;
        border-radius: 9px;
        background: linear-gradient(145deg, #474747, #555555);
        transition: .3s all ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            transform: scale(1.2);
        } 
    }
}
.c_text{
    font: 700 14px Raleway;
    color: #4d4d4d;
    text-align: center;
}