.wrapper_skills{
    min-height: 100vh;
}
.skills_content{
    padding: 100px 20px 0;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}
.skills_tit{
    font: 700 30px Montserrat;
    border: 4px solid #000;
    padding: 20px;
    max-width: 205px;
    margin: 20px auto 40px;
    position: relative;
    z-index: -1;
    text-align: center;
}
.skills_hr{
    width: 130px;
    margin: 30px auto;
    display: block;
    position: relative;
    z-index: -1;
}
.skills_tabs_wrapper{
    padding: 40px 0 50px;
}

.tabs_list{
    display: flex !important; 
    justify-content: center !important;
    gap: 20px;
}

.tabs_btn{
    border: 2px solid transparent;
    font: 700 20px Raleway;
    text-transform: uppercase;
}

.tab_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 40px;
    margin-top: 20px;
}
.skill_box{
    text-align: center;
    position: relative;
    z-index: -1;

    img{
        margin: 0 auto;
    }
}
.certificate_box{
    text-align: center;
    position: relative;
}
.skill_tit,
.certificate_tit{
    font: 400 22px Montserrat;
    text-transform: uppercase;
    margin-top: 10px;
}
.skill_descr{
    font: 400 15px Raleway;
}
.skill_lang_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.certificate_link {
    margin-top: 10px;
    width: 140px;
    transition: .3s ease-in-out;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    background: #b0b0b040;
    text-transform: uppercase;
    text-decoration: none;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
    font: 700 15px Montserrat;
    color: #000;


    &:hover{
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        border: none;

        &::before{
            border-color: #262626;
            height: 100%;
            transform: translateX(0);
            transition: .2s transform linear, .2s height linear .2s;
        }

        &::after{
            border-color: #262626;
            height: 100%;
            transform: translateX(0);
            transition: .2s transform linear, .2s height linear .4s;
        }
    }

    &::after{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 3px;
        border-top: 3px solid transparent;
        border-right: 3px solid transparent;
        box-sizing: border-box;
        transform: translateX(-100%);
    }
    &::before{
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        height: 3px;
        width: 100%;
        border-bottom: 3px solid transparent;
        border-left: 3px solid transparent;
        box-sizing: border-box;
        transform: translateX(100%);
    }
}

.wrapper_btn_portfolio{
    display: flex;
    justify-content: center;
}

@media screen and (max-device-width: 420px) {
    .tabs_list{
        flex-flow: column wrap;
    }
}
